@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

header .container .logo .main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.5em 1em;
}

header .container .logo .main-logo .logo-img {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
}

header .container .logo .main-logo .logo-img::after {
  content: '';
  width: 30px;
  height: 60px;
  border: 2px solid green;
  border-radius: 50%;
  position: absolute;
  left: 13px;
  top: -2px;
}

header .container .logo .main-logo .logo-img::before {
  content: '';
  width: 60px;
  height: 2px;
  background: green;
  position: absolute;
  top: 30px;
}

header .container .logo .main-logo .vertical-line {
  width: 2px;
  height: 100%;
  background: skyblue;
  margin: 0 .5em;
}

header .container .logo .main-logo .name {
  color: blue;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .container .intro-statement {
  padding: 1em;
  border-radius: 5em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(green), to(white));
  background-image: linear-gradient(to bottom right, green, white);
  -webkit-box-shadow: 5px 5px 5px green;
          box-shadow: 5px 5px 5px green;
  text-align: center;
  margin-bottom: 2em;
}

header .container .active-hours p {
  margin: 0;
}

header .container .active-hours strong {
  color: blue;
}

header .container .active-hours b, header .container .active-hours strong {
  text-transform: uppercase;
}

header .container .active-hours sup {
  text-transform: lowercase;
}

header .address {
  background: #4d4d4d;
  color: #f3f3f3;
  -webkit-box-shadow: 1px 2px gray;
          box-shadow: 1px 2px gray;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .button {
  padding: 1em;
  display: inline-block;
  background: black;
  color: white;
  border-radius: 5em;
  margin-bottom: 1em;
}

main h2 {
  text-align: center;
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

main p {
  line-height: 1.6em;
}

main .author {
  float: right;
}

.essay-section > div {
  margin-bottom: 5em;
}

table {
  margin: 2em 0;
}

th, td {
  border: 1px solid skyblue;
}

th {
  background: lightskyblue;
}

.next-topic {
  text-align: center;
  border: 2px solid red;
  color: red;
  margin: 2em 0;
}

.proverb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  color: white;
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */