@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  background: #f2f2f2;
  margin: 0;
  font-family: 'Poppins';
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1em;
}

section {
  margin-bottom: 2em;
}

header {
  margin-bottom: 2em;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.logo .main-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.5em 1em;
}

.logo .main-logo .logo-img {
  display: block;
  width: 60px;
  height: 60px;
  border: 2px solid green;
  border-radius: 50%;
  position: relative;
}

.logo .main-logo .logo-img::after {
  content: '';
  width: 30px;
  height: 60px;
  border: 2px solid green;
  border-radius: 50%;
  position: absolute;
  left: 13px;
  top: -2px;
}

.logo .main-logo .logo-img::before {
  content: '';
  width: 60px;
  height: 2px;
  background: green;
  position: absolute;
  top: 30px;
  right: 0;
}

.logo .main-logo .vertical-line {
  width: 2px;
  height: 64px;
  background: skyblue;
  margin: 0 .5em;
}

.logo .main-logo .name {
  color: blue;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.intro-statement {
  padding: 1em;
  border-radius: 5em;
  background-image: -webkit-gradient(linear, left top, right bottom, from(green), to(white));
  background-image: linear-gradient(to bottom right, green, white);
  -webkit-box-shadow: 5px 5px 5px green;
          box-shadow: 5px 5px 5px green;
  text-align: center;
  margin-bottom: 2em;
}

.active-hours p {
  margin: 0;
}

.active-hours strong {
  color: blue;
}

.active-hours b, .active-hours strong {
  text-transform: uppercase;
}

.active-hours sup {
  text-transform: lowercase;
}

.logo, .intro-statement, .active-hours {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.address {
  padding: .5em;
  background: #4d4d4d;
  color: #f3f3f3;
  -webkit-box-shadow: 1px 2px gray;
          box-shadow: 1px 2px gray;
}

.address p {
  margin: unset;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.5em;
}

main .button {
  padding: 1em;
  display: inline-block;
  background: black;
  color: white;
  border-radius: 5em;
  margin-bottom: 1em;
}

main .hero-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  shape-outside: circle(50%);
  margin: 1em;
}

main h2 {
  text-align: center;
  margin-bottom: 1em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

main p {
  line-height: 1.6em;
  text-align: justify;
  text-justify: inter-word;
}

main .author {
  float: right;
}

.phrasal-verbs img {
  width: 100%;
}

table {
  width: 100%;
  margin: 2em 0;
}

table td {
  padding: 0.5em;
}

th, td {
  border: 1px solid skyblue;
}

th {
  background: lightskyblue;
}

.next-topic {
  text-align: center;
  border: 2px solid red;
  color: red;
  margin: 2em 0;
}

.proverb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  color: white;
  margin-top: 2em;
  padding: 2em;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .logo, .active-hours {
    width: 50%;
  }
  .intro-statement {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container {
    padding: 0 10em;
  }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .essay-section .hero-img {
    width: 200px;
    height: 200px;
  }
  .phrasal-verbs {
    width: 100%;
  }
  .phrasal-verbs img {
    display: inline-block;
    float: right;
    width: 400px;
    height: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .vocabularies, .questions {
    width: 50%;
  }
}

.pros-cons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
}

.pros-cons div {
  padding: 1em;
}

.pros-cons div:first-child {
  width: 45%;
  background-color: lightskyblue;
}

.pros-cons:not(:first-child) {
  border: 2px dotted red;
}
/*# sourceMappingURL=main.css.map */