@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

header {
    margin-bottom: 2em;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;

    .main-logo {
        display: flex;
        flex-direction: row;
        margin: 1.5em 1em;

        .logo-img {
            display: block;
            width: 60px;
            height: 60px;
            border: 2px solid green;
            border-radius: 50%;
            position: relative;
            &::after {
                content: '';
                width: 30px;
                height: 60px;
                border: 2px solid green;
                border-radius: 50%;
                position: absolute;
                left: 13px;
                top: -2px;
            }
            &::before {
                content: '';
                width: 60px;
                height: 2px;
                background: green;
                position: absolute;
                top: 30px;
                right: 0;
            }
        }

        .vertical-line {
            width: 2px;
            height: 64px;
            background: skyblue;
            margin: 0 .5em;
        }

        .name {
            color: blue;
            font-weight: bold;
            align-self: center;
        }
    }
    
}

.intro-statement {
    padding: 1em;
    border-radius: 5em;
    background-image: linear-gradient(to bottom right, green, white);
    box-shadow: 5px 5px 5px green;
    text-align:center;
    margin-bottom: 2em;
}

.active-hours {
    
    p {
        margin: 0;
    }
    strong {
        color: blue;
    }
    b, strong {
        text-transform: uppercase;
    }
    sup {
        text-transform: lowercase;
    }
}
.logo, .intro-statement, .active-hours {
    align-self: center;
}

.address {
    padding: .5em;
    background: #4d4d4d;
    color: #f3f3f3;
    box-shadow: 1px 2px gray;
    
    p {
        margin: unset;
    }
}

main {
    display: flex;
    flex-wrap: wrap;

    .button {
        padding: 1em;
        display: inline-block;
        background: black;
        color: white;
        border-radius: 5em;
        margin-bottom: 1em;
    }

    .hero-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        float: left;
        shape-outside: circle(50%);
        margin: 1em;
    }

    h2 {
        text-align: center;
        margin-bottom: 1em;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

    p{
        line-height: 1.6em;
        text-align: justify;
        text-justify: inter-word;
    }

    .author {
        float: right;
    }
}

table {
    margin: 2em 0;
}
th, td {
    border: 1px solid skyblue;
}
th {
    background: lightskyblue;
}

.next-topic {
    text-align: center;
    border: 2px solid red;
    color: red;
    margin: 2em 0;
}

.proverb {
    display: flex;
    height: 10em;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    margin-top: 2em;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .logo, .active-hours {
        width: 50%;
    }

    .intro-statement {
        order: 1;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .container {
        padding: 0 10em;
    }

    header .container {
        justify-content: space-between;
    }
    
    .vocabularies, .questions {
        width: 50%;
    }

    .phrasal-verbs {
        width: 100%;
    }
}